<!DOCTYPE html>
<lang ="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/font.css" />
        <link rel="stylesheet" type="text/css" href="/css/common.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <!-- fontawesome 라이브러리 -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
        />
        <!-- sweetalert2 라이브러리 - 경고창 예쁘게 -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"
        />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <title>군위로드</title>
    </head>
    <body>