<%- include('common/header.ejs') %>
<header class="border_bottom detail_page_header">
    <img src="../file/header_logo_black.png" alt="">
</header>
<div class="grid_container detail_page">
    <div class="detail-course-img">
        <img alt="">
    </div>
    <div class="title course-title"></div>
    <div class="course-description"></div>
    <div class="previous-page">
        <img src="../file/left_arrow_black.png" alt="">
        <div>이전 페이지로 돌아가기</div>
    </div>
</div>
<script src="../js/detail.js"></script>
<%- include('common/footer.ejs') %>